<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %} | Consumer Digital Twin</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/twinergy.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block html_css %}{% endblock html_css %}

</head>
<body class="layout-sticky-subnav layout-default">

<div class="mdk-header-layout js-mdk-header-layout">
    <div class="mdk-header-layout__content page-content ">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}
    </div>
</div>

{% include 'footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>

<!-- jQuery -->
<script src="../static/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="../static/vendor/popper.min.js"></script>
<script src="../static/vendor/bootstrap.min.js"></script>

<!-- Perfect Scrollbar -->
<script src="../static/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="../static/vendor/dom-factory.js"></script>

<!-- App JS -->
<script src="../static/js/app.js"></script>

<!-- Global Settings -->
<script src="../static/js/settings.js"></script>

<script src="../static/vendor/Chart.min.js"></script>
<script src="../static/js/chartjs.js"></script>
<script src="../static/js/chartjs-rounded-bar.js"></script>

<!-- Import a .js script to retrieve session variables -->
<script src="{{url_for('static', filename='js/session.js')}}"></script>

<script>
    var daily_temp = {{ d_temp | tojson }};
    var daily_hum = {{ d_hum | tojson }};
    var daily_time = {{ d_time | tojson }};
    var daily_met = {{ d_met | tojson }};
    var daily_time_met = {{ d_met_time | tojson }};
</script>

{% include 'thermal-comfort-chart.html' %}

</body>
</html>