<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title> {% block title %}{% endblock title %} | Consumer Digital Twin </title>

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon">

    <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/twinergy.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- DateRangePicker -->
    <link type="text/css" href="../static/vendor/daterangepicker.css" rel="stylesheet">

    <!-- Import additional .css files in the header section -->
    {% block html_css %}{% endblock html_css %}

    <!-- Import additional .js files in the header section -->
    {% block js_script_header %}{% endblock js_script_header %}

</head>
<body class="layout-sticky-subnav layout-default">

<div class="mdk-header-layout js-mdk-header-layout">
    <div class="mdk-header-layout__content page-content ">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}
    </div>
</div>

{% include 'footer.html' %}

<!-- jQuery -->
<script src="../static/vendor/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="../static/vendor/popper.min.js"></script>
<script src="../static/vendor/bootstrap.min.js"></script>


<!-- Perfect Scrollbar -->
<script src="../static/vendor/perfect-scrollbar.min.js"></script>

<!-- DOM Factory -->
<script src="../static/vendor/dom-factory.js"></script>

<!-- App JS -->
<script src="../static/js/app.js"></script>

<!-- Global Settings -->
<script src="../static/js/settings.js"></script>

<script src="../static/vendor/Chart.min.js"></script>
<script src="../static/js/chartjs.js"></script>
<script src="../static/js/chartjs-rounded-bar.js"></script>
<script src="../static/vendor/moment.min.js"></script>
<script src="../static/vendor/daterangepicker.js"></script>
<script src="../static/js/daterangepicker.js"></script>

{% block js_scripts %}{% endblock js_scripts %}

</body>
</html>