<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <title> {% block title %}{% endblock title %} | Consumer Digital Twin </title>

    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon">

    <link href="{{url_for('static', filename='css/app.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/twinergy.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Import additional .css files in the header section -->
    {% block html_css %}{% endblock html_css %}

    <!-- Import additional .js files in the header section -->
    {% block js_script_header %}{% endblock js_script_header %}

</head>
<body class="layout-sticky-subnav layout-default">

    <div class="mdk-header-layout js-mdk-header-layout">
        <div class="mdk-header-layout__content page-content ">
            {% include 'navbar.html' %}
            {% block content %}{% endblock content %}
        </div>
    </div>

{% include 'footer.html' %}

<!-- Import jQuery library -->
<script src="{{url_for('static', filename='vendor/jquery.min.js')}}"></script>

<!-- Import Bootstrap library -->
<script src="{{url_for('static', filename='vendor/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='vendor/bootstrap.min.js')}}"></script>

<!-- Import DOM Factory library -->
<script src="{{url_for('static', filename='vendor/dom-factory.js')}}"></script>

<!-- Import main application .js file -->
<script src="{{url_for('static', filename='js/app.js')}}"></script>

<!-- Import .js file with global settings -->
<script src="{{url_for('static', filename='js/settings.js')}}"></script>

<!-- Chart JS -->
<script src="{{url_for('static', filename='vendor/Chart.min.js')}}"></script>
<script src="{{url_for('static', filename='js/chartjs.js')}}"></script>
<script src="{{url_for('static', filename='js/chartjs-rounded-bar.js')}}"></script>

{% block js_scripts %}{% endblock js_scripts %}

</body>
</html>