<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock title %} | Consumer Digital Twin</title>

    <meta name="description" content="The Consumer Digital Twin platform developed for TwinERGY project.">
    <meta name="keywords" content="twinergy, twin-ergy, TwinERGY EU, Consumer Digital Twin">
    <meta name="author" content="Dept. of Electrical & Computer Engineering, University of Patras">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/twinergy.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/ion-rangeslider.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- jQuery -->
    <script src="{{url_for('static', filename='vendor/jquery.min.js')}}"></script>

    <!-- Import dom-factory.js file with application's dom factory -->
    <script src="{{url_for('static', filename='vendor/dom-factory.js')}}"></script>

    <!-- Range Slider -->
    <script src="{{url_for('static', filename='vendor/ion.rangeSlider.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/ion-rangeslider.js')}}"></script>

    <!-- Bootstrap -->
    <script src="{{url_for('static', filename='vendor/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/bootstrap.min.js')}}"></script>

    <!-- Perfect Scrollbar -->
    <script src="{{url_for('static', filename='vendor/perfect-scrollbar.min.js')}}"></script>

    <!-- App JS -->
    <script src="{{url_for('static', filename='js/app.js')}}"></script>

    <!-- Chart JS -->
    <script src="../static/vendor/Chart.min.js"></script>

    <!-- Import a .js script to retrieve session variables -->
    <script src="{{url_for('static', filename='js/session.js')}}"></script>

    <!-- Import a .js script to retrieve user's preferences -->
    <script src="{{url_for('static', filename='js/preferences.js')}}"></script>

</head>
<body class="layout-sticky-subnav layout-default">

<div class="mdk-header-layout js-mdk-header-layout">
    <div class="mdk-header-layout__content page-content ">
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>