{% extends "base-clothing-insulation.html" %}

<!-- Add the title for the specific html page -->
{% block title %}Clothing Insulation{% endblock title %}

{% block content %}

<div class="container page__container page-section">

    <!-- Add a section for the breadcrumb in the clothing insulation page -->
    <div class="page-section">
        {% with b1="Thermal Comfort", b2="Clothing Insulation" %}
        {% include "breadcrumb.html" %}
        {% endwith %}
    </div>

    <div class="row mb-32pt">

        <!-- The UI card component that displays the clothing insulation of the current summer outfit -->
        <div class="col-lg-3">
            <div class="card border-1 border-left-3 border-left-primary text-center mb-lg-0">
                <div class="card-body">
                    <h4 class="h2 mb-0" id="summer-clo">- clo.</h4>
                    <div class="outfit-text"><i class="material-icons icon-16pt text-12 mb-1">sunny</i> Summer Outfit
                    </div>
                </div>
            </div>
        </div>

        <!-- The UI card component that displays the clothing insulation of the current winter outfit -->
        <div class="col-lg-3">
            <div class="card border-1 border-left-3 border-left-primary text-center mb-lg-0">
                <div class="card-body">
                    <h4 class="h2 mb-0" id="winter-clo">- clo.</h4>
                    <div class="outfit-text"><i class="material-icons icon-16pt text-12 mb-1">ac_unit</i> Winter Outfit
                    </div>
                </div>
            </div>
        </div>

        <!-- The UI card component that displays the clothing insulation of the current autumn outfit -->
        <div class="col-lg-3">
            <div class="card border-1 border-left-3 border-left-primary text-center mb-lg-0">
                <div class="card-body">
                    <h4 class="h2 mb-0" id="autumn-clo">- clo.</h4>
                    <div class="outfit-text"><i class="material-icons icon-16pt text-12 mb-1">eco</i> Autumn Outfit
                    </div>
                </div>
            </div>
        </div>

        <!-- The UI card component that displays the clothing insulation of the current spring outfit -->
        <div class="col-lg-3">
            <div class="card border-1 border-left-3 border-left-primary text-center mb-lg-0">
                <div class="card-body">
                    <h4 class="h2 mb-0" id="spring-clo">- clo.</h4>
                    <div class="outfit-text"><i class="material-icons icon-16pt text-12 mb-1">park</i> Spring Outfit
                    </div>
                </div>
            </div>
        </div>

    </div>

    <form action="" id="clothing-form">

        <!-- SUMMER OUTFIT -->
        <div class="row mt-32pt mb-32pt">
            <!-- The title and the description of the UI slider of the summer outfit -->
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Summer</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the clothing garments combination that reflects your typical <code>SUMMER OUTFIT</code>.
                </p>
            </div>
            <!-- The UI slider of the summer outfit -->
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="summer_total_clo">Typical Outfit</label>
                        <div class="col-sm-9">
                            <input id="summer_total_clo" name="summer_total_clo" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- WINTER OUTFIT -->
        <div class="row mt-32pt mb-32pt">
            <!-- The title and the description of the UI slider of the winter outfit -->
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Winter</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the clothing garments combination that reflects your typical <code>WINTER OUTFIT</code>.
                </p>
            </div>
            <!-- The UI slider of the winter outfit -->
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="winter_total_clo">Typical Outfit</label>
                        <div class="col-sm-9">
                            <input id="winter_total_clo" name="winter_total_clo" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- AUTUMN OUTFIT -->
        <div class="row mt-32pt mb-32pt">
            <!-- The title and the description of the UI slider of the autumn outfit -->
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Autumn</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the clothing garments combination that reflects your typical <code>AUTUMN OUTFIT</code>.
                </p>
            </div>
            <!-- The UI slider of the autumn outfit -->
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="autumn_total_clo">Typical Outfit</label>
                        <div class="col-sm-9">
                            <input id="autumn_total_clo" name="autumn_total_clo" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SPRING OUTFIT -->
        <div class="row mt-32pt mb-32pt">
            <!-- The title and the description of the UI slider of the spring outfit -->
            <div class="col-lg-4">
                <div class="page-separator">
                    <div class="page-separator__text">Spring</div>
                </div>
                <p class="card-subtitle text-70 mb-16pt mb-lg-0 border-left-3 border-left-primary pl-24pt pl-md-32pt">
                    Insert the clothing garments combination that reflects your typical <code>SPRING OUTFIT</code>.
                </p>
            </div>
            <div class="col-lg-8 d-flex align-items-center">
                <div class="flex" style="max-width: 100%">
                    <!-- The UI slider of the spring outfit -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" for="spring_total_clo">Typical Outfit</label>
                        <div class="col-sm-9">
                            <input id="spring_total_clo" name="spring_total_clo" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>


{% endblock content %}