<!--<div class="col-lg-4">-->
<!--    <div class="page-separator">-->
<!--        <div class="page-separator__text">Thermal Comfort</div>-->
<!--    </div>-->

<!--    <div class="card">-->
<!--        <div class="card-header p-0 nav border-0">-->
<!--            <div class="row no-gutters flex" role="tablist">-->
<!--                <div class="col-auto">-->
<!--                    <div class="p-card-header d-flex align-items-center">-->
<!--                        <div class="h2 mb-0 mr-3"></div>-->
<!--                        <div class="flex">-->
<!--                            <h2 class="h2 mb-0 ml11">Not Available-->
<!--                            </h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</div>-->
<!--<div class="col-lg-8">-->

<!--    <div class="page-separator">-->
<!--        <div class="page-separator__text">Daily Indoor Environmental Analysis</div>-->
<!--    </div>-->

<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <div class="card ">-->
<!--                <div class="p-card-header d-flex align-items-center">-->
<!--                    <div class="h2 mb-0 mr-3"></div>-->
<!--                    <div class="flex">-->
<!--                        <h2 class="h2 mb-0 ml11">Please, turn on the wearable device-->
<!--                        </h2>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<div class="mdk-box bg-primary-1 mdk-box--bg-primary js-mdk-box mb-0" data-domfactory-upgraded="mdk-box"
     data-effects="blend-background">
    <div class="mdk-box__content">
        <div class="hero py-64pt text-center text-sm-left">
            <div class="container page__container">
                <div class="d-flex flex-column flex-sm-row">
                    <div class="order-1 order-sm-0">
                        <h1 class="text-white">Warning</h1>
                        <p class="lead text-white-100 measure-hero-lead mb-24pt">The wearable device {{ wId }} has not transmitted data for the past 24 hours.
                            Please turn on the wearable device to start capturing environmental and physiological recordings in order to assess your thermal comfort level.
                        </p>
                        <a class="btn btn-outline-white" href="/">Try Again</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>