<div class="alert alert-light border-1 border-left-4 border-left-accent" role="alert">

    <div class="d-flex flex-wrap align-items-center">

        <i class="material-icons ml-4pt mr-16pt">bolt</i>

        <div class="media-body" style="min-width: 180px">
            <small class="text-100">High demand activities detected on peak hours during the last
                24-hours that lowers your energy flexibility level.</small>
        </div>

        <div class="ml-8pt mt-1 mb-1">
            <a class="btn btn-sm" href="/preferences/">Update Preferences</a>
        </div>

    </div>

</div>