<div class="mdk-box bg-primary-1">
    <div class="mdk-box__content">
        <div class="hero py-32pt">
            <div class="container page__container">
                <div class="text-center">
                    <h1>Warning</h1>
                    <p class="lead text-center pt-2">The wearable device <span id="message-wearable-id"></span> has not transmitted data during the last 24 hours.
                        Please turn on the wearable device to start capturing environmental and physiological recordings.
                    </p>
                    <a class="btn btn-outline-black" href="/">Try Again</a>
                </div>
            </div>
        </div>
    </div>
</div>