<!-- Extend the 'base.html' template for HTML page theming -->
{% extends "base-demand-side-management.html" %}

<!-- Add the title for the specific page -->
{% block title %}Demand-side Management{% endblock title %}

<!-- Import macros from the 'macros.html' template -->
{% from 'macros.html' import create_component_section %}

{% block content %}
<div class="container">

    <!-- Add a section for the breadcrumb in the dashboard page -->
    <div class="page-section">
        {% with b1="Demand-side Management", b2="" %}
        {% include "breadcrumb.html" %}
        {% endwith %}
    </div>
</div>
{{ create_component_section('Optimal Day-ahead Scheduling', 'The early and latest start time for the optimal scheduling of your electric appliances.') }}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header border-0 d-flex">
                    <div class="flex">
                        <div class="h2 mb-0">Optimal Day-ahead scheduling</div>
                        <p class="card-title">An optimal scheduling of flexible household electric appliances and AC unit based on your preferences.</p>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="powerConsumptionChart" style="display: block; height: 340px; width: 254px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{{ create_component_section('Operation Timeslots', 'The early and latest start time for the optimal scheduling of your electric appliances.') }}
<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header border-0 d-flex">
                    <div class="flex">
                        <div class="h2 mb-0" id="{{ latest_id }}">Preferences - Operation of electric appliances</div>
                        <p class="card-title">The desired early start time and latest end time regarding the operation of each flexible household electric appliance.</p>
                    </div>
                </div>
                <div class="card-body">
                    <canvas id="operationChart" style="display: block; height: 240px; width: 254px;"></canvas>
                </div>
                <div class="card-footer d-flex flex-column align-items-center justify-content-center">
                    <div class="l-updated">-</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var operationData = {{ operation_times_json | safe }};
</script>
<script type="text/javascript">
    var optimalSchedule = {{ optimal_schedule_json | safe }};
    var prices = {{ prices }}
</script>
{% endblock content %}