<div class="js-fix-footer2 bg-white border-top-2">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-32pt">
            <img alt="TwinERGY Grant Agreement" class="brand-icon"
                 src="{{ url_for('static', filename='images/licence.png') }}" width="100%"/>
        </p>
        <p class="text-50 small">Copyright 2021 - 2023 © All rights reserved. Designed & Developed by Applied Electronics Lab,
            Electrical & Computer Engineering, University of Patras.</p>
    </div>
</div>