<div class="js-fix-footer2 bg-white border-top-2">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-24pt">
            <img alt="TwinERGY Grant Agreement" class="brand-icon"
                 src="{{ url_for('static', filename='images/licence.png') }}" width="100%"/>
        </p>
        <p class="measure-lead-max text-50 small mr-8pt">Copyright 2022 © All rights reserved. Developed by University
            of Patras, Applied Electronics Lab.</p>
        <p class="mb-8pt d-flex">
            <a class="text-70 text-underline mr-8pt small" href="https://www.twinergy.eu">About TwinERGY Project</a>
        </p>
    </div>
</div>