<div class="js-fix-footer2 bg-white border-top-2">
    <div class="container page__container page-section d-flex flex-column">
        <p class="text-70 brand mb-32pt">
            <img alt="TwinERGY Grant Agreement" class="brand-icon"
                 src="{{ url_for('static', filename='images/licence.png') }}" width="100%"/>
        </p>
        <p class="text-50 small">&copy; Copyright 2021 - <span id="currentYear"></span>. Designed & Developed by Applied Electronics Lab,
            Dept. of Electrical & Computer Engineering, University of Patras.</p>
    </div>
</div>

<!-- Add dynamically the current year to the copyright section of the footer. -->
<script>
   document.getElementById("currentYear").innerHTML = new Date().getFullYear();
</script>