{% extends "base.html" %}

<!-- Add the title for the specific page -->
{% block title %}Dashboard{% endblock title %}

<!-- Set the breadcrumb levels for the specific page -->
{% set breadcrumb_level_one = 'Dashboard' %}
{% set breadcrumb_level_two = '' %}

{% block content %}
<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        {% include 'breadcrumb.html' %}
    </div>
    <div class="container page__container">
        <div class="page-section">
            {% include 'dashboard-alert.html' %}
            <div class="row mb-lg-8pt">
                {% include 'dashboard-thermal.html' %}
            </div>
            <div class="row mb-lg-8pt">
                {% include 'dashboard-well-being.html' %}
            </div>
            <div class="row mb-lg-8pt">

            </div>
        </div>
    </div>
</div>

{% endblock content %}