{% extends "base.html" %}

<!-- Add the title for the specific page -->
{% block title %}Dashboard{% endblock title %}

<!-- Import any extra .css files for the specific page -->
{% block html_css %}{% endblock html_css %}

<!-- Set the breadcrumb levels for the specific page -->
{% set breadcrumb_level_one = 'Dashboard' %}
{% set breadcrumb_level_two = '' %}

<!-- Import any extra .js files for the specific page -->
{% block js_scripts %}
    <script>
        var all_tem = {{ all_tem | tojson }};
        var all_hum = {{ all_hum | tojson }};
        var all_wb = {{ all_wb | tojson }};
        var all_times = {{ all_times | tojson }};
        var l_pmv = {{ l_pmv | tojson }};
    </script>

    <!-- Import a .js script to retrieve session variables -->
    <script src="{{url_for('static', filename='js/session.js')}}"></script>

    <!-- Import a .js script to create the charts related to thermal comfort on the dashboard page -->
    <script src="{{url_for('static', filename='js/dashboard-comfort.js')}}"></script>

{% endblock js_scripts %}

{% block content %}
<div class="pt-32pt">
    <div class="container page__container d-flex flex-column flex-md-row align-items-center text-center text-sm-left">
        {% include 'breadcrumb.html' %}
    </div>
    <div class="container page__container">
        <div class="page-section">
            {% include 'dashboard-alert.html' %}
            <div class="row mb-lg-8pt">
                {% include 'dashboard-thermal.html' %}
            </div>
            <div class="row mb-lg-8pt">
                {% include 'dashboard-well-being.html' %}
            </div>
            <div class="row mb-lg-8pt">

            </div>
        </div>
    </div>
</div>

{% endblock content %}