<script>
new Chart(document.getElementById("thermal-comfort-indoor-temperature"), {
    type: 'line',
    data: {
        labels: daily_time,
        datasets: [
            {
                label: "Indoor Air Temperature",
                borderColor: "rgb(255, 186, 77)",
                backgroundColor: "rgb(255, 186, 77, .1)",
                borderWidth: 2,
                fill: true,
                data: daily_temp
            },
            {
                label: "Indoor Globe Temperature",
                borderColor: "#7fdd62",
                backgroundColor: "#7fdd62",
                borderWidth: 2,
                fill: false,
                data: daily_temp
            },
        ]
    },
    options: {
            elements: {
                point: {
                    radius: 1.2
                }
            },
            tooltips: {
                enabled: false,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItems, data) {
                        return tooltipItems.yLabel + ' °C';
                    }
                }
            },
            scales: {
                pointLabels: {
                    fontStyle: "bold",
                },
                yAxes: [{
                    ticks: {
                        padding: 20,
                        fontSize: 13,
                        beginAtZero: false,
                        maxTicksLimit: 4,
                        callback: function(value, index, values) {
                            return value + ' °C';
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Temperature",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                        drawOnChartArea: true
                    },
                    ticks: {
                        fontSize: 13,
                        padding: 20,
                        autoSkip: true,
                        maxTicksLimit: 5,
                        maxRotation: 0,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Date",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
            },
            legend: {
                display: true,
                onClick: (e) => e.stopPropagation(),
                labels: {
                    fontSize: 14,
                    usePointStyle: true,
                    boxWidth: 1
                }
            }
        }
});

</script>

<script>
new Chart(document.getElementById("thermal-comfort-indoor-humidity"), {
    type: 'line',
    data: {
        labels: daily_time,
        datasets: [
            {
                label: "Indoor Relative Humidity",
                borderColor: "rgb(255, 186, 77)",
                backgroundColor: "rgb(255, 186, 77, .1)",
                borderWidth: 2,
                fill: true,
                data: daily_hum
            }
        ]
    },
    options: {
            elements: {
                point: {
                    radius: 1.2
                }
            },
            tooltips: {
                enabled: false,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItems, data) {
                        return tooltipItems.yLabel + ' %';
                    }
                }
            },
            scales: {
                pointLabels: {
                    fontStyle: "bold",
                },
                yAxes: [{
                    ticks: {
                        padding: 20,
                        fontSize: 13,
                        beginAtZero: false,
                        maxTicksLimit: 4,
                        callback: function(value, index, values) {
                            return value + ' %';
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Indoor Relative Humidity",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                        drawOnChartArea: true
                    },
                    ticks: {
                        fontSize: 13,
                        padding: 20,
                        autoSkip: true,
                        maxTicksLimit: 5,
                        maxRotation: 0,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Date",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
            },
            legend: {
                display: true,
                onClick: (e) => e.stopPropagation(),
                labels: {
                    fontSize: 14,
                    usePointStyle: true,
                    boxWidth: 1
                }
            }
        }
});

</script>

<script>
new Chart(document.getElementById("thermal-comfort-metabolic-rate"), {
    type: 'line',
    data: {
        labels: daily_time_met,
        datasets: [
            {
                label: "Metabolic Rate",
                borderColor: "rgb(255, 186, 77)",
                backgroundColor: "rgb(255, 186, 77, .1)",
                borderWidth: 2,
                fill: true,
                data: daily_met
            }
        ]
    },
    options: {
            elements: {
                point: {
                    radius: 1.2
                }
            },
            tooltips: {
                enabled: false,
                mode: 'single',
                callbacks: {
                    label: function(tooltipItems, data) {
                        return tooltipItems.yLabel + ' met';
                    }
                }
            },
            scales: {
                pointLabels: {
                    fontStyle: "bold",
                },
                yAxes: [{
                    ticks: {
                        padding: 20,
                        fontSize: 13,
                        beginAtZero: false,
                        maxTicksLimit: 4,
                        callback: function(value, index, values) {
                            return value + ' met';
                        },
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Metabolic Rate",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
                xAxes: [{
                    gridLines: {
                        display: false,
                        drawOnChartArea: true
                    },
                    ticks: {
                        fontSize: 13,
                        padding: 20,
                        autoSkip: true,
                        maxTicksLimit: 5,
                        maxRotation: 0,
                    },
                    scaleLabel: {
                        display: true,
                        labelString: "Date",
                        fontStyle: "bold",
                        fontSize: 14
                    }
                }],
            },
            legend: {
                display: true,
                onClick: (e) => e.stopPropagation(),
                labels: {
                    fontSize: 14,
                    usePointStyle: true,
                    boxWidth: 1
                }
            }
        }
});

</script>

<script>

    Chart.defaults.global.defaultFontFamily = 'Josefin Sans';

    Chart.Legend.prototype.afterFit = function() {
        this.height = this.height + 20;
    };
</script>